<a href="https://colab.research.google.com/github/ShykerBogdan/Prozzoro_project/blob/master/DataPrepr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
import time
from datetime import datetime
import numpy as np

In [3]:
filename='/content/gdrive/My Drive/ML_proz/data_source.csv'
df=pd.read_csv(filename)
df.shape

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,5,14,15,16,17,18,20,24,38,48,50,51,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(3507778, 56)

In [35]:
df[df['participants']=='41449359']

,awards.bid_id,awards.count_documents,awards.date,awards.id,awards.status,awards.suppliers_identifier_id,awards.suppliers_identifier_legalName,awards.suppliers_name,awards.value_amount,contracts.awardID,...,tenders.tenderPeriod_endDate,tenders.tenderPeriod_startDate,tenders.value_amount,tenders.value_currency,tenders.value_valueAddedTaxIncluded,value_amount,value_currency,participants,winner,date_from_id
122,9b9b505eaf184c58a927be58916a4513,4\r\r\r\r\n,2018-11-08 15:18:35,f222dbd954e649d09f3e70b3cfbf83c0,active,32938047,ТОВ КВОРУМ-НАФТА,ТОВ КВОРУМ-НАФТА,2420600.00,f222dbd954e649d09f3e70b3cfbf83c0,...,2018-10-26 09:00:00,2018-10-03 10:58:29,2448000.00,UAH,1,2440000.0,UAH,41449359,0,2018-10-03
208,\N,2\r\r\r\r\n,2018-05-15 09:46:09,e26d4697b9cd49f48ce8d81dfbe82fed,active,41449359,\N,"ТОВ ""Лівайн торг""",14972.50,e26d4697b9cd49f48ce8d81dfbe82fed,...,\N,\N,14972.50,UAH,1,NaN,NaN,41449359,1,2018-05-14
594,\N,\N\r\r\r\r\n,2018-07-27 12:51:02,a20f598940924c4ca64d4f7ef34c2f3e,active,41449359,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",1370.00,a20f598940924c4ca64d4f7ef34c2f3e,...,\N,\N,1370.00,UAH,1,NaN,NaN,41449359,1,2018-07-27
727,\N,1\r\r\r\r\n,2018-11-15 17:42:09,f82691606f2449c39c231e513b002ebe,active,41449359,"ТОВ""ЛІВАЙН ТОРГ""","ТОВ""ЛІВАЙН ТОРГ""",198862.50,f82691606f2449c39c231e513b002ebe,...,\N,\N,198862.50,UAH,1,NaN,NaN,41449359,1,2018-11-15
848,ebadb82b5cb442b5a66ff5df01844385,1\r\r\r\r\n,2018-09-06 11:03:21,8173d46f074b45a8971cd47969c0da2f,cancelled,36248687,"ПП ""ОККО КОНТРАКТ""","ПП ""ОККО КОНТРАКТ""",43755.00,8173d46f074b45a8971cd47969c0da2f,...,2018-08-31 16:00:00,2018-08-28 17:00:00,45000.00,UAH,1,43500.0,UAH,41449359,0,2018-08-22
1357,\N,1\r\r\r\r\n,2018-06-14 15:45:37,463a9351fa4b4b2aaf6fdc8b6dc16f36,active,41449359,\N,Лівайн,155500.00,463a9351fa4b4b2aaf6fdc8b6dc16f36,...,\N,\N,155500.00,UAH,1,NaN,NaN,41449359,1,2018-06-14
1426,\N,1\r\r\r\r\n,2018-02-14 14:17:21,1d05b770a4b247ceabdf8345716ecb04,active,41449359,\N,"ТОВ ""Лівайн Торг""",56000.00,1d05b770a4b247ceabdf8345716ecb04,...,\N,\N,56000.00,UAH,1,NaN,NaN,41449359,1,2018-02-14
2422,\N,\N\r\r\r\r\n,2018-08-23 10:34:25,af73fc71199d4bd4b191891ad353d34a,active,41449359,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",8250.00,af73fc71199d4bd4b191891ad353d34a,...,\N,\N,8250.00,UAH,1,NaN,NaN,41449359,1,2018-08-23
2427,\N,\N\r\r\r\r\n,2018-07-10 16:08:15,6f1bc01b7bbc400cbe12946785a01620,active,41449359,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",18550.00,6f1bc01b7bbc400cbe12946785a01620,...,\N,\N,18550.00,UAH,1,NaN,NaN,41449359,1,2018-07-10
3567,\N,2\r\r\r\r\n,2018-11-29 16:45:09,c4625edd447d445aae91a688ef24a07c,active,41449359,"ТОВ ""ЛІВАЙН ТОРГ""","ТОВ ""ЛІВАЙН ТОРГ""",192000.00,c4625edd447d445aae91a688ef24a07c,...,\N,\N,192000.00,UAH,1,NaN,NaN,41449359,1,2018-11-29
3969,\N,2\r\r\r\r\n,2018-03-26 17:16:56,028557a9932c4974aa2a6d818edaf8a8,active,41449359,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",441465.00,028557a9932c4974aa2a6d818edaf8a8,...,\N,\N,458145.00,UAH,1,NaN,NaN,41449359,1,2018-03-26
4085,ea22f742df7e463487a0daed42abbc08,3\r\r\r\r\n,2018-10-31 14:26:45,d807d8107ad04d07ab6236d1543dbead,active,39847915,ТОВ МЕТА ОІЛ,ТОВ МЕТА ОІЛ,84071.00,d807d8107ad04d07ab6236d1543dbead,...,2018-10-26 15:00:00,2018-10-09 16:19:23,100000.00,UAH,1,93148.0,UAH,41449359,0,2018-10-09
4099,48aaf420f87e466881d09de8e8ae2d8c,1\r\r\r\r\n,2018-11-21 10:31:07,ebe03cc01865450c83c1ab32632e8d19,active,41449359,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",15500.00,ebe03cc01865450c83c1ab32632e8d19,...,2018-11-21 10:02:00,2018-11-16 10:02:00,16500.00,UAH,1,15500.0,UAH,41449359,1,2018-11-13
4581,a90cf05d7e0a4e4c8d10ea8a31b27343,1\r\r\r\r\n,2018-05-17 10:04:21,29334aa1a764422890258285a8be493f,active,36248687,"ПП ""ОККО КОНТРАКТ""","ПП ""ОККО КОНТРАКТ""",30969.90,29334aa1a764422890258285a8be493f,...,2018-05-14 14:00:00,2018-05-08 14:00:00,31740.00,UAH,1,31028.4,UAH,41449359,0,2018-05-04
4668,aeeec5a2b1834acf84d2d93318d1cc30,3\r\r\r\r\n,2018-02-22 11:24:41,a3f8600d953e44658e48c403fe1c4b47,active,40878412,"ТОВ ""ДНІПРО ОІЛ ТРЕЙД""","ТОВ ""ДНІПРО ОІЛ ТРЕЙД""",175560.00,a3f8600d953e44658e48c403fe1c4b47,...,2018-02-17 09:28:10,2018-02-01 09:23:11,224000.00,UAH,1,178920.0,UAH,41449359,0,2018-02-01
5088,95e8220d5917415e950c883241770d29,4\r\r\r\r\n,2018-03-19 11:14:17,ad1387142ac044ccaf94f3a7715bc356,active,33680859,"Товариство з обмеженою відповідальністю ""Нафто...","Товариство з обмеженою відповідальністю ""Нафто...",919442.81,ad1387142ac044ccaf94f3a7715bc356,...,2018-03-07 13:00:00,2018-02-20 12:52:02,1003672.00,UAH,1,936945.0,UAH,41449359,0,2018-02-20
5425,\N,1\r\r\r\r\n,2018-05-07 14:47:29,f6bc0c572c72461a84c8cff86682602a,active,41449359,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",50000.00,f6bc0c572c72461a84c8cff86682602a,...,\N,\N,50000.00,UAH,1,NaN,NaN,41449359,1,2018-05-07
5510,\N,2\r\r\r\r\n,2018-02-23 15:43:40,55a6024553864d18a25652a9e064c3a8,active,41449359,ТОВ «Лівайн Торг»,ТОВ «Лівайн Торг»,2384.50,55a6024553864d18a25652a9e064c3a8,...,\N,\N,2384.50,UAH,1,NaN,NaN,41449359,1,2018-02-23
5950,\N,2\r\r\r\r\n,2018-05-31 14:49:22,6c8f78c8c4624ab99aecfbf8e9f165f9,active,41449359,Товариство з обмеженою відповідальністю «ЛІВАЙ...,ТОВ «ЛІВАЙН ТОРГ»,99905.00,6c8f78c8c4624ab99aecfbf8e9f165f9,...,\N,\N,99905.00,UAH,1,NaN,NaN,41449359,1,2018-05-31
6052,\N,\N\r\r\r\r\n,2018-08-03 14:12:11,4e78e37ba3f540d4af3aba9f590ab0b5,active,41449359,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",4950.00,4e78e37ba3f540d4af3aba9f590ab0b5,...,\N,\N,4950.00,UAH,1,NaN,NaN,41449359,1,2018-08-03
6295,\N,\N\r\r\r\r\n,2018-06-04 12:52:55,3ac2ce6aae4a40abac1ea5b1ccf5e1b1,active,41449359,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",2650.00,3ac2ce6aae4a40abac1ea5b1ccf5e1b1,...,\N,\N,2650.00,UAH,1,NaN,NaN,41449359,1,2018-06-04
6502,1d44df7e17eb404f93c01690a6cd78e1,4\r\r\r\r\n,2018-11-26 14:33:18,ccf0a2f5a35c4b52a95e0b54397185b8,active,39682076,"ТОВ ""ЧЕЛЕНДЖ ТРЕЙД""","ТОВ ""ЧЕЛЕНДЖ ТРЕЙД""",282100.00,ccf0a2f5a35c4b52a95e0b54397185b8,...,2018-11-22 18:00:00,2018-11-07 16:54:44,291200.00,UAH,1,286650.0,UAH,41449359,0,2018-11-07
6694,\N,2\r\r\r\r\n,2018-05-17 16:32:35,f3de907c20dc4bc480943ea73ee95b9b,active,41449359,\N,ТОВ «ЛІВАИН ТОРГ»,18815.00,f3de907c20dc4bc480943ea73ee95b9b,...,\N,\N,18815.00,UAH,1,NaN,NaN,41449359,1,2018-05-17
7629,eebaa1589b91446c941f5a5278c2f526,2\r\r\r\r\n,2018-03-16 11:26:01,ded14a6c7a4e4437bdd8c1090966caff,active,41449359,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",9467.50,ded14a6c7a4e4437bdd8c1090966caff,...,2018-03-16 11:00:00,2018-03-13 10:00:00,10000.00,UAH,1,9467.5,UAH,41449359,1,2018-03-06
8236,13707e65e56e48888593461f274f8c3c,1\r\r\r\r\n,2018-11-27 16:22:31,02770aa042304d6fb1ad52223beb0235,active,41449359,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",15735.00,02770aa042304d6fb1ad52223beb0235,...,2018-11-27 10:33:57,2018-11-26 10:33:57,15735.00,UAH,1,15735.0,UAH,41449359,1,2018-11-23
8287,\N,\N\r\r\r\r\n,2018-11-08 13:29:03,78e92467fb1f460ca181c27323cbffe2,active,41449359,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",69900.00,78e92467fb1f460ca181c27323cbffe2,...,\N,\N,69900.00,UAH,1,NaN,NaN,41449359,1,2018-11-08
8661,4e3e7e4726b04a6dbd9f9a7d1f6b6902,3\r\r\r\r\n,2018-03-26 17:28:12,bc8aa5bf26854c82a2b5d2c98b146eb3,active,41449359,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",435800.00,bc8aa5bf26854c82a2b5d2c98b146eb3,...,2018-03-21 00:00:00,2018-03-02 14:53:28,500000.00,UAH,1,435800.0,UAH,41449359,1,2018-03-02
8663,\N,1\r\r\r\r\n,2018-02-12 16:19:32,229ca41936a5449b8bfc764f670e70a9,active,41449359,\N,"ТОВ ,,ЛІВАЙН ТОРГ''",28000.00,229ca41936a5449b8bfc764f670e70a9,...,\N,\N,28000.00,UAH,1,NaN,NaN,41449359,1,2018-02-12
9503,\N,2\r\r\r\r\n,2018-03-07 14:21:06,516b9227a5144ffe9738df1906e4ad22,active,41449359,"Товариство з обмеженою відповідальністю ""ЛІВАЙ...","ТОВ ""ЛІВАЙН ТОРГ""",394500.00,516b9227a5144ffe9738df1906e4ad22,...,\N,\N,394500.00,UAH,1,NaN,NaN,41449359,1,2018-03-07
9591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-01-31 15:00:00,2018-01-15 18:13:22,480000.00,UAH,1,480000.0,UAH,41449359,0,2018-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3504822,5eedd5460eda4a89802ffededf45c7d7,3\r\r\r\r\n,2018-11-27 13:16:26,3abcef93d9fc4eeea8f3e32d71008b37,active,37556985.0,ТОВ Гермес Форт,ТОВ Гермес Форт,1393320.00,3abcef93d9fc4eeea8f3e32d71008b37,...,2018-11-22 10:00:00,2018-11-05 13:27:29,1.61088e+06,UAH,1,1508600.0,UAH,41449359,0,2018-11-05
3505089,bdc41062c3ed42a6bc79187090903cc2,1\r\r\r\r\n,2018-11-27 15:36:53,71ef03e4b1354c66bace80bb84bab05b,active,41449359.0,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",51475.00,71ef03e4b1354c66bace80bb84bab05b,...,2018-11-27 15:10:00,2018-11-22 16:00:00,51650,UAH,1,51475.0,UAH,41449359,0,2018-11-19
3505445,c53d3c14883d4b32890558bd3b2c2979,3\r\r\r\r\n,2018-11-26 17:41:44,d63747a10ebc452295311fa5837257d5,active,36248687.0,"ПП ""ОККО КОНТРАКТ""","ПП ""ОККО КОНТРАКТ""",911700.00,d63747a10ebc452295311fa5837257d5,...,2018-11-22 18:00:00,2018-11-06 12:25:37,4.172e+06,UAH,1,930500.0,UAH,41449359,0,2018-11-06
3505446,c53d3c14883d4b32890558bd3b2c2979,3\r\r\r\r\n,2018-11-27 15:41:18,bfdea84fbb454ddc873c2b0a1a9999a4,active,36248687.0,"ПП ""ОККО КОНТРАКТ""","ПП ""ОККО КОНТРАКТ""",883800.00,bfdea84fbb454ddc873c2b0a1a9999a4,...,2018-11-22 18:00:00,2018-11-06 12:25:37,4.172e+06,UAH,1,930500.0,UAH,41449359,0,2018-11-06
3505447,c53d3c14883d4b32890558bd3b2c2979,3\r\r\r\r\n,2018-11-27 15:42:04,b4301abdfb234312bc9233d7ec0bcbdb,active,36248687.0,"ПП ""ОККО КОНТРАКТ""","ПП ""ОККО КОНТРАКТ""",867750.00,b4301abdfb234312bc9233d7ec0bcbdb,...,2018-11-22 18:00:00,2018-11-06 12:25:37,4.172e+06,UAH,1,885750.0,UAH,41449359,0,2018-11-06
3506052,25bf3ed070ab44a0846f14c71a0f0a96,4\r\r\r\r\n,2018-11-16 10:47:55,accc2695283a4cc6a4abc1d1a2fa6afe,active,33680859.0,"Товариство з обмеженою відповідальністю ""Нафто...","Товариство з обмеженою відповідальністю ""Нафто...",589199.00,accc2695283a4cc6a4abc1d1a2fa6afe,...,2018-11-12 10:00:00,2018-10-25 15:39:34,710000,UAH,1,640800.0,UAH,41449359,0,2018-10-25
3506156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-27 17:00:00,2018-11-12 16:48:02,325000,UAH,1,61000.0,UAH,41449359,0,2018-11-12
3506157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-27 17:00:00,2018-11-12 16:48:02,325000,UAH,1,244000.0,UAH,41449359,0,2018-11-12
3506212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,2.32453e+07,UAH,41449359,0,2018-10-04
3506213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,2.30342e+06,UAH,41449359,0,2018-10-04
3506214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,2.57231e+06,UAH,41449359,0,2018-10-04
3506215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,2.73304e+06,UAH,41449359,0,2018-10-04
3506216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,1.16857e+06,UAH,41449359,0,2018-10-04
3506217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,1.99459e+06,UAH,41449359,0,2018-10-04
3506218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,1.70339e+06,UAH,41449359,0,2018-10-04
3506219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,2.62741e+06,UAH,41449359,0,2018-10-04
3506220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,1.61849e+06,UAH,41449359,0,2018-10-04
3506221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,3.08491e+06,UAH,41449359,0,2018-10-04
3506222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,4.17248e+06,UAH,41449359,0,2018-10-04
3506223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,2.52598e+06,UAH,41449359,0,2018-10-04
3506224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,1.28537e+06,UAH,41449359,0,2018-10-04
3506225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,8.32038e+06,UAH,41449359,0,2018-10-04
3506226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,2.44858e+06,UAH,41449359,0,2018-10-04
3506227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,1.16978e+06,UAH,41449359,0,2018-10-04
3506228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,1.10727e+06,UAH,41449359,0,2018-10-04
3506229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-09 15:00:00,2018-10-04 11:34:45,7.39647e+07,UAH,1,1.45583e+06,UAH,41449359,0,2018-10-04
3506549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-28 14:00:00,2018-11-13 11:14:18,1.0463e+06,UAH,1,126736,UAH,41449359,0,2018-11-13
3506550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-28 14:00:00,2018-11-13 11:14:18,1.0463e+06,UAH,1,458100,UAH,41449359,0,2018-11-13
3506799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2018-11-28 15:00:00,2018-11-27 09:35:00,3680,UAH,1,3540,UAH,41449359,0,2018-11-23
3506992,9b469457f4484f18bc0333f1fa7bc8b5,1\r\r\r\r\n,2018-11-22 08:48:19,eef64c873889459c94dab2b6514657da,active,4.14494e+07,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...","ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІВАЙ...",47100.00,eef64c873889459c94dab2b6514657da,...,2018-11-21 13:00:00,2018-11-19 13:00:00,114400,UAH,1,47100,UAH,41449359,0,2018-11-14

In [0]:
def convert_to_float(raw):
  try:
    raw['lots.value_amount']=float(raw['lots.value_amount'])
  except:
    raw['lots.value_amount']=np.nan
  return raw

df['lots.value_amount']=df[['lots.value_amount']].apply(convert_to_float,axis=1)

In [0]:
def f(raw):
  try:
    raw['economy']=float(raw['lots.value_amount'])-float(raw['contracts.value_amount'])
  except:
    raw['economy']='?'
  return raw

df['economy']=df[['lots.value_amount','contracts.value_amount']].apply(f,axis=1)

In [0]:



class DataPreproccessing:
    def __init__(self, data_source, churn_interval, start_period=None, end_period=None):
        self.last_day=pd.to_datetime('2018-11-29')
        # для статистики постачальника вибираємо проміжок [start_period,end_period]
        self.divide_data = self.last_day - pd.DateOffset(days=churn_interval)
        print(self.divide_data)
        self.data_source = data_source[pd.to_datetime(data_source['date_from_id']) <= self.divide_data]
        # для labeling вибираємо період [end_period, end_period+churn_interval]
        self.label_data = data_source[pd.to_datetime(data_source['date_from_id']) > self.divide_data]
        # вибираємо унікальних постачальників
        self.unique_id = list(self.data_source['participants'].value_counts().index)
        # створюємо dataframe з колонкою унікальних постачальників і туди будемо додавати features
        self.feature_data = pd.DataFrame(self.unique_id, columns=['unique_id'])
     
    
    def get_label(self):
        participants=list(self.label_data['participants'].value_counts().index)
        
        print(len(participants))
        def get_y(raw,participants):
          if raw['unique_id'] in participants:
            raw['y']=1
          else:
            raw['y']=0
          return raw
        
        self.feature_data=self.feature_data.apply(get_y,args=(participants,),axis=1)
        
    def graph_2(self,filename=None):
        self.data_source['winner']=self.data_source[['contracts.value_amount','contracts.status','winner']].apply(lambda x: 0 if x['contracts.value_amount']=='\\N'
                                                                                                         or x['contracts.status']=='cancelled' else x['winner'],axis=1  )

        self.activity_date()
        print('activity date')
        
        data=self.data_source[['participants','new_date']]
        data=data.sort_values(by='new_date')
        def get_average_activity(raw,data):
          dates_=list(data[data['participants']==raw['unique_id']]['new_date'].values)
          try:
            raw['average_activity']=(pd.to_datetime(dates_[-1])-pd.to_datetime(dates_[0])).days/len(dates_)
          except:
            raw['average_activity']=np.nan
          return raw
        
        self.feature_data=self.feature_data.apply(get_average_activity,args=(data,),axis=1)
        print('average_activity')
        if filename:
          print('write to csv')
          self.feature_data.to_csv(filename)
    
    def create_features(self,filename=None):
        self.get_label()
        print('get y')
        self.data_source['winner']=self.data_source[['contracts.value_amount','contracts.status','winner']].apply(lambda x: 0 if x['contracts.value_amount']=='\\N'
                                                                                                         or x['contracts.status']=='cancelled' else x['winner'],axis=1  )
        print('winner updated')
        self.activity_date()
        print('activity date')
        
        self.average_economy()
        print('average economy')
        self.count_lots()
        print('count_lots has already finish')
        self.count_win_lose()
        print('count_win_lose has already finish')
        self.count_win_type_procedure()
        print('count_win_type_procedure has already finish')
        self.count_lose_type_procedure()
        print('count_lose_type_procedure has already finish')
        self.feature_data['count_lots_open']=self.feature_data['win_open']+self.feature_data['lose_open']
        self.feature_data['count_lots_not_open']=self.feature_data['win_not_open']+self.feature_data['lose_not_open']
        print('count_lots_open has already finish')
        self.last_activity()
        print('last activity')
        self.average_activity()
        print('average activity')
        self.average_economy()
        
        if filename:
          self.feature_data.to_csv(filename)
          
    def count_lots(self):
        freq = self.data_source['participants'].value_counts()

        def count_lots(raw, frequency):
            raw['count_lots'] = frequency[raw['unique_id']]
            return raw

        self.feature_data = self.feature_data.apply(count_lots, args=(freq,), axis=1)

    def count_win_lose(self):
        data=self.data_source[self.data_source['winner']==1]
        frequency=data['participants'].value_counts()
        
        def win_lose(raw,frequency):
            # use try bsc if index not in frequency 'win'=0
            try:
              raw['win']=frequency[raw['unique_id']]
            except:
              raw['win']=0
            return raw
            

        self.feature_data = self.feature_data.apply(win_lose, args=(
        frequency,),axis=1)
        self.feature_data['lose']=self.feature_data['count_lots']-self.feature_data['win']
        
    # всьо в одну функцію
    def count_win_type_procedure(self):
        data=self.data_source[self.data_source['winner']==1]
        data=data[data['tenders.procurementMethod']=='open']
        frequency=data['participants'].value_counts()
        def count_win_open(raw,frequency):
            try:
              raw['win_open']=frequency[raw['unique_id']]
            except:
              raw['win_open']=0
            return raw
              
        self.feature_data = self.feature_data.apply(count_win_open, args=(
        frequency,),axis=1)
        print("--- %s seconds ---" % (time.time() - start_time))
        self.feature_data['win_not_open']=self.feature_data['win']-self.feature_data['win_open']
    
    
    def count_lose_type_procedure(self):
        data=self.data_source[self.data_source['winner']==0]
        data=data[data['tenders.procurementMethod']=='open']
        frequency=data['participants'].value_counts()
        def count_lose_open(raw,frequency):
            try:
              raw['lose_open']=frequency[raw['unique_id']]
            except:
              raw['lose_open']=0
            return raw
              
        self.feature_data = self.feature_data.apply(count_lose_open, args=(
        frequency,),axis=1)
        print("--- %s seconds ---" % (time.time() - start_time))
        self.feature_data['lose_not_open']=self.feature_data['lose']-self.feature_data['lose_open']
    
    
    def activity_date(self):
        f=['winner','tenders.auctionPeriod_startDate','contracts.dateSigned','date_from_id','awards.date']
        self.data_source['new_date']=self.data_source[f].apply(lambda x:x[f[2]] if x[f[0]==1] else (x[f[3]] if pd.isnull(x[f[1]]) else x[f[1]] ),axis=1)
        self.data_source['new_date']=self.data_source[['new_date']].apply(lambda x: x['new_date'][:10],axis=1)
        self.data_source['new_date']=self.data_source[['new_date','date_from_id']].apply(lambda x: x['date_from_id'] if x['new_date']=='\\N' else x['new_date'],axis=1)
        
        
    def last_activity(self):
        data=self.data_source[['participants','new_date']]
        data=data.sort_values(by='new_date')
        self.divide_data=str(self.divide_data)[:10]
        
        def get_last_activity(raw,data):
          raw['last_activity_date']=data[data['participants']==raw['unique_id']].iloc[-1]['new_date']
          try:
            raw['last_activity_days']=(pd.to_datetime(self.divide_data)-pd.to_datetime(raw['last_activity_date'])).days
          except:
            print('--------------')
            raw['last_activity_days']='?'
          return raw
        
        
        self.feature_data=self.feature_data.apply(get_last_activity,args=(data,),axis=1)
        self.feature_data['last_activity_days']=self.feature_data.apply(lambda x: 0 if x['last_activity_days']<0 else x['last_activity_days'],axis=1)
        
    
    
    def average_activity(self):
        data=self.data_source[['participants','new_date']]
        data=data.sort_values(by='new_date')
        def get_average_activity(raw,data):
          dates=list(data[data['participants']==raw['unique_id']]['new_date'].values)
#           dates=np.diff([pd.to_datetime(item) for item in dates])

#           dates=[item.days for item in dates]
#           dates.append(raw['last_activity_days'])
          raw['average_activity']=np.average(dates)
          return raw
    
        self.feature_data=self.feature_data.apply(get_average_activity,args=(data,),axis=1)
     
    def average_economy(self):
        def convert_to_float(raw):
          try:
            raw['lots.value_amount']=float(raw['lots.value_amount'])
          except:
            raw['lots.value_amount']=np.nan
          return raw
        self.data_source['lots.value_amount']=self.data_source[['lots.value_amount']].apply(convert_to_float,axis=1)
        print('Convert lots')
        data=self.data_source[self.data_source['winner']==1][['participants','awards.value_amount','lots.value_amount']]
        def get_economy(raw,data):
          d=data[data['participants']==raw['unique_id']]
          raw['economy_value']=np.mean(d['lots.value_amount']-d['awards.value_amount'])
          raw['economy_percent']=np.mean(d['awards.value_amount']/d['lots.value_amount'])
          return raw
        self.feature_data=self.feature_data.apply(get_economy,args=(data,),axis=1)

In [0]:
col=['winner','tenders.auctionPeriod_startDate','contracts.dateSigned',
     'awards.date','participants','date_from_id','lots.value_amount','contracts.value_amount','contracts.status']

In [34]:
start_time = time.time()
df1=df[col]
prepr = DataPreproccessing(df1.iloc[:100000],1)
prepr.graph_2('try_1.csv')
print("--- %s seconds ---" % (time.time() - start_time))
print(prepr.feature_data.head())
# 158 sec - 30000

2018-11-28 00:00:00
activity date
average_activity
write to csv
--- 822.8232822418213 seconds ---
  unique_id  average_activity
0  25394112          1.969743
1  32490244          1.816901
2  39273420          2.713303
3  41449359          0.959654
4  40473930          1.358553