In [1]:
import pandas as pd

In [9]:
df=pd.read_csv('all.csv')
df.shape

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(189122, 18)

In [20]:
df.info()
# є null, там де учасники приймали участь тільки один раз і не виграли

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189122 entries, 0 to 189121
Data columns (total 18 columns):
average_activity        189122 non-null object
average_winner_price    166840 non-null float64
count_lots              189122 non-null int64
count_unique_hosts      79424 non-null float64
economy_percent         166826 non-null float64
economy_value           166826 non-null float64
favourite_host          189122 non-null int64
first_activity_days     189122 non-null object
last_activity_date      189122 non-null object
last_activity_days      189122 non-null object
lose                    189122 non-null int64
lose_open               189122 non-null int64
unique_id               189122 non-null object
unique_regions          189122 non-null int64
win                     189122 non-null int64
win_not_open            189122 non-null int64
win_open                189122 non-null int64
y                       189122 non-null int64
dtypes: float64(4), int64(9), object(5)
memory usage: 26.0+ MB

In [26]:
df['count_unique_hosts']=df.apply(lambda raw: 1 if raw['count_lots']==1 else raw['count_unique_hosts'],axis=1)

In [30]:
df[df['count_unique_hosts'].isnull()]

,average_activity,average_winner_price,count_lots,count_unique_hosts,economy_percent,economy_value,favourite_host,first_activity_days,last_activity_date,last_activity_days,lose,lose_open,unique_id,unique_regions,win,win_not_open,win_open,y
23,0.252135,1.517387e+05,2928,NaN,0.999461,4015.387575,1,707,2018-09-13,-31,9,9,37763844,1,2919,2907,12,1
91,0.525111,1.601534e+05,1355,NaN,0.999780,106.171497,1,711,2018-08-13,0,6,6,32168454,1,1349,1349,0,1
160,0.74307,2.469864e+03,939,NaN,1.001794,-2.146965,1,700,2018-08-10,3,0,0,31225610,1,939,939,0,1
215,0.635538,1.121488e+03,772,NaN,0.999976,0.015298,1,518,2018-07-16,28,0,0,37162881,1,772,772,0,1
218,0.749347,2.617527e+03,767,NaN,1.008291,-8.534420,1,574,2018-08-13,0,0,0,3375213206,1,767,767,0,1
221,0.927345,5.902265e+05,758,NaN,0.978909,12533.175488,1,705,2018-08-10,3,0,0,38924328,2,758,758,0,1
229,0.600543,1.498691e+04,737,NaN,0.976935,337.834418,1,567,2018-04-10,125,316,316,2555101767,1,421,0,421,0
332,1.17647,1.790549e+03,579,NaN,0.999568,38.467023,1,691,2018-08-02,11,18,18,1966114669,4,561,560,1,1
348,1.25847,2.598122e+05,562,NaN,0.998626,9.615996,1,706,2018-08-13,0,0,0,34754617,3,562,562,0,1
370,1.29779,7.897456e+03,545,NaN,0.945295,482.423730,1,706,2018-08-13,0,301,301,05433956,1,244,5,239,1
399,1.35673,7.270048e+03,514,NaN,0.943871,444.535409,1,696,2018-08-13,0,257,257,38755677,1,257,0,257,1
412,1.42147,3.947047e+03,504,NaN,0.979360,790.318955,1,718,2018-08-10,3,16,16,36159642,1,488,471,17,1
452,1.49057,4.275079e+03,478,NaN,0.998275,58.842322,1,717,2018-08-07,6,0,0,2142827302,113,478,478,0,1
500,1.5,7.610575e+04,445,NaN,0.998202,2314.727687,1,677,2018-08-02,11,4,4,35620697,2,441,441,0,1
513,0.676538,2.807907e+03,440,NaN,1.000000,0.000000,1,350,2018-06-21,53,0,0,3512012434,421,440,440,0,1
533,0.885514,1.991567e+03,429,NaN,0.994327,72.409429,1,567,2018-02-06,188,26,26,3576511042,392,403,392,11,1
538,1.32941,3.354304e+03,426,NaN,1.002909,-7.159155,1,565,2018-08-13,0,0,0,2710402975,1,426,426,0,1
556,1.49879,3.255147e+06,414,NaN,0.962281,97503.227059,1,612,2018-08-20,-7,397,397,21904823,2,17,4,13,1
585,1.48878,4.817476e+03,402,NaN,1.038967,-39.534104,1,607,2018-08-03,10,0,0,35321150,1,402,402,0,1
614,1.36829,7.830472e+02,392,NaN,1.000000,0.000000,1,542,2018-08-06,7,0,0,2242118540,1,392,392,0,1
616,1.8977,2.388398e+05,392,NaN,0.910736,48627.657781,1,728,2018-08-27,-14,27,27,03345076,5,365,320,45,1
619,1.09487,1.277394e+04,391,NaN,1.001935,-26.224115,1,430,2018-08-10,3,7,7,3355616257,1,384,384,0,1
620,1.84872,5.956878e+03,391,NaN,0.998607,391.850984,1,724,2018-08-10,3,15,15,2221102111,1,376,371,5,1
648,1.43421,6.337021e+03,381,NaN,0.994803,81.803622,1,552,2018-08-06,7,0,0,3226213178,1,381,381,0,1
653,1.79365,5.525679e+03,379,NaN,0.983859,413.232069,1,683,2018-08-08,5,2,2,2148520394,1,377,343,34,1
662,1.94385,4.624924e+05,375,NaN,0.996561,10601.645579,1,698,2018-09-11,-29,47,47,13974620,2,328,306,22,1
684,1.25272,1.127183e+03,369,NaN,1.000000,0.002710,1,467,2018-08-07,6,0,0,2571321941,1,369,369,0,1
686,1.92391,1.364980e+05,369,NaN,0.999937,12.537439,1,711,2018-08-10,3,2,2,31733547,1,367,366,1,1
701,2.2011,1.394663e+07,364,NaN,0.980256,111040.244693,1,707,2018-11-13,-92,185,185,40196224,5,179,10,169,1
721,1.39045,2.203410e+03,357,NaN,1.000000,0.000000,1,544,2018-06-25,49,0,0,2526703479,1,357,357,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126106,0.0,1.234890e+05,2,NaN,1.000000,0.000000,1,651,2016-10-31,651,0,0,34534976,1,2,2,0,0
126108,100.0,1.616488e+05,2,NaN,1.000000,0.000000,1,657,2017-02-02,557,0,0,2969010293,1,2,2,0,0
126109,123.0,8.775200e+04,2,NaN,1.000000,0.000000,1,451,2017-09-19,328,0,0,1262203066,1,2,2,0,0
126111,282.0,1.880650e+02,2,NaN,1.000000,0.000000,1,504,2018-01-03,222,0,0,02214567,1,2,2,0,0
126114,0.0,3.590000e+03,2,NaN,1.000000,0.000000,1,392,2017-07-17,392,0,0,2257106514,1,2,2,0,0
126115,147.0,1.590000e+04,2,NaN,1.000000,0.000000,1,248,2018-05-04,101,0,0,2613321399,1,2,2,0,1
126117,0.0,NaN,2,NaN,NaN,NaN,1,490,2017-04-10,490,2,2,2751402307,1,0,0,0,0
126119,30.0,3.811500e+06,2,NaN,0.919098,335500.000000,1,299,2017-11-17,269,1,1,2456017679,1,1,0,1,0
126120,0.0,1.750000e+03,2,NaN,1.000000,0.000000,1,193,2018-02-01,193,0,0,1998503730,1,2,2,0,1
126121,372.0,7.800000e+05,2,NaN,1.000000,0.000000,1,733,2017-08-17,361,0,0,3045721162,1,2,2,0,0
126123,23.0,NaN,2,NaN,NaN,NaN,1,194,2018-02-23,171,2,2,2455514332,1,0,0,0,0
126125,361.0,7.000950e+04,2,NaN,1.000000,0.000000,1,514,2018-03-13,153,0,0,01980437,1,2,2,0,0
126126,0.0,1.418830e+03,2,NaN,1.000000,0.000000,1,573,2017-01-17,573,0,0,04397543,1,2,2,0,0
126127,198.0,4.978000e+04,2,NaN,1.000000,0.000000,1,254,2018-06-18,56,0,0,2243213050,1,2,2,0,1
126128,392.0,1.842260e+05,2,NaN,1.000000,0.000000,1,474,2018-05-23,82,0,0,2865619394,1,2,2,0,0
126129,0.0,2.352700e+04,2,NaN,1.000000,0.000000,1,377,2017-08-01,377,0,0,2542400393,1,2,2,0,0
126130,0.0,NaN,2,NaN,NaN,NaN,1,466,2017-05-04,466,2,2,39122201,1,0,0,0,0
126132,0.0,2.250000e+03,2,NaN,1.000000,0.000000,1,318,2017-09-29,318,0,0,2451613269,1,2,2,0,0
126133,0.0,5.951000e+04,2,NaN,1.000000,0.000000,1,693,2016-09-19,693,0,0,3110321039,1,2,2,0,0
126134,365.0,1.485000e+05,2,NaN,1.000000,0.000000,1,553,2018-02-06,188,0,0,2914813170,1,2,2,0,0
126136,68.0,1.155000e+06,2,NaN,0.825000,245000.010000,1,704,2016-11-15,636,1,1,38979686,1,1,0,1,0
126139,362.0,7.500000e+03,2,NaN,1.000000,0.000000,1,605,2017-12-13,243,0,0,35531906,1,2,0,2,0
126140,391.0,6.744000e+04,2,NaN,1.000000,0.000000,1,516,2018-04-10,125,0,0,2602801813,1,2,2,0,0
126141,14.0,4.990000e+04,2,NaN,1.000000,0.000000,1,360,2017-09-01,346,0,0,31594936,1,2,2,0,0
126142,63.0,5.204500e+04,2,NaN,1.000000,0.000000,1,406,2017-09-04,343,0,0,3083214511,1,2,2,0,0
126143,128.0,1.725142e+05,2,NaN,0.962952,11997.780000,1,279,2018-03-15,151,0,0,25378202/ІПН 253782014081,1,2,2,0,0
126144,553.0,2.882640e+03,2,NaN,1.000000,0.000000,1,735,2018-02-12,182,0,0,26394462,1,2,2,0,0
126145,369.0,3.215170e+03,2,NaN,1.000000,0.000000,1,453,2018-05-21,84,0,0,38212660,1,2,2,0,0
126146,92.0,9.967341e+05,2,NaN,1.000000,0.015000,1,237,2018-03-21,145,0,0,40088740,1,2,2,0,0
126147,20.0,1.250000e+03,2,NaN,1.000000,0.000000,1,699,2016-10-03,679,0,0,2550111451,1,2,2,0,0

In [6]:
df.describe()

,average_winner_price,count_lots,count_unique_hosts,economy_percent,economy_value,favourite_host,lose,lose_open,win,win_not_open,win_open,y
count,1.668400e+05,189122.000000,189122.000000,1.668260e+05,1.668260e+05,189122.000000,189122.000000,189122.000000,189122.000000,189122.000000,189122.000000,189122.000000
mean,6.932877e+05,14.646614,5.796248,6.911968e+01,-7.510215e+04,0.582629,5.392577,5.389949,9.254037,6.455843,2.798194,0.332642
std,4.869424e+07,102.794482,33.427069,2.034501e+04,4.754572e+07,0.493126,54.258455,54.254010,55.964506,38.255000,27.900154,0.471161
min,1.000000e-02,1.000000,1.000000,2.631579e-09,-1.902523e+10,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.390934e+04,1.000000,1.000000,9.907143e-01,0.000000e+00,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
50%,5.653325e+04,3.000000,1.000000,1.000000e+00,0.000000e+00,1.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000
75%,1.500000e+05,9.000000,3.000000,1.000000e+00,9.176445e+02,1.000000,2.000000,2.000000,6.000000,5.000000,1.000000,1.000000
max,1.902526e+10,17635.000000,4345.000000,7.179335e+06,3.705131e+08,1.000000,10458.000000,10458.000000,9861.000000,6354.000000,4866.000000,1.000000

In [21]:
df.corr()
# heat_map намалювати

,average_winner_price,count_lots,count_unique_hosts,economy_percent,economy_value,favourite_host,lose,lose_open,unique_regions,win,win_not_open,win_open,y
average_winner_price,1.000000,0.001336,0.000973,0.920779,-0.965512,-0.004092,0.001520,0.001518,0.001061,0.000981,0.000337,0.001505,0.000268
count_lots,0.001336,1.000000,0.858791,0.001470,-0.000944,-0.118236,0.930409,0.930141,0.651396,0.934734,0.700795,0.914081,0.127290
count_unique_hosts,0.000973,0.858791,1.000000,0.001046,-0.001281,NaN,0.813134,0.812868,0.708222,0.795829,0.605496,0.768400,0.113857
economy_percent,0.920779,0.001470,0.001046,1.000000,-0.943103,-0.003796,0.000480,0.000480,-0.000411,0.002235,0.002764,0.000693,0.000044
economy_value,-0.965512,-0.000944,-0.001281,-0.943103,1.000000,0.003526,-0.000550,-0.000550,0.000269,-0.001201,-0.001202,-0.000760,0.001124
favourite_host,-0.004092,-0.118236,NaN,-0.003796,0.003526,1.000000,-0.102912,-0.102872,-0.241551,-0.117398,-0.096866,-0.102671,-0.344375
lose,0.001520,0.930409,0.813134,0.000480,-0.000550,-0.102912,1.000000,0.999998,0.638885,0.739442,0.408200,0.923536,0.088544
lose_open,0.001518,0.930141,0.812868,0.000480,-0.000550,-0.102872,0.999998,1.000000,0.638741,0.738951,0.407482,0.923535,0.088503
unique_regions,0.001061,0.651396,0.708222,-0.000411,0.000269,-0.241551,0.638885,0.638741,1.000000,0.577063,0.405672,0.601290,0.189003
win,0.000981,0.934734,0.795829,0.002235,-0.001201,-0.117398,0.739442,0.738951,0.577063,1.000000,0.891451,0.783582,0.147960
win_not_open,0.000337,0.700795,0.605496,0.002764,-0.001202,-0.096866,0.408200,0.407482,0.405672,0.891451,1.000000,0.417008,0.142665
win_open,0.001505,0.914081,0.768400,0.000693,-0.000760,-0.102671,0.923536,0.923535,0.601290,0.783582,0.417008,1.000000,0.101177
y,0.000268,0.127290,0.113857,0.000044,0.001124,-0.344375,0.088544,0.088503,0.189003,0.147960,0.142665,0.101177,1.000000

In [13]:
# збалансованість даних
print(df['y'].value_counts())
# збалансованість, якщо забирати учасників з 1,2 лотами
print(df[df['count_lots']>2]['y'].value_counts())

0    126212
1     62910
Name: y, dtype: int64
1    51193
0    48652
Name: y, dtype: int64

In [18]:
# count_unique_hosts розподіл
print(df['count_unique_hosts'].value_counts()[:15])
print(df[df['count_lots']>2]['count_unique_hosts'].value_counts())

1     98755
2     28556
3     14635
4      9011
5      6391
6      4484
7      3556
8      2817
9      2273
10     1862
11     1557
12     1296
13     1041
14      952
15      820
Name: count_unique_hosts, dtype: int64
1       19734
2       18300
3       14635
4        9011
5        6391
6        4484
7        3556
8        2817
9        2273
10       1862
11       1557
12       1296
13       1041
14        952
15        820
16        709
17        619
18        551
19        526
20        439
21        423
23        380
22        373
25        340
24        301
26        269
27        258
28        244
29        232
31        206
        ...
358         1
361         1
233         1
808         1
744         1
296         1
807         1
743         1
551         1
487         1
359         1
295         1
806         1
486         1
1381        1
1055        1
1060        1
676         1
931         1
739         1
482         1
418         1
545         1
353         1
289         1
1120        1
416         1
288         1
703         1
3230        1
Name: count_unique_hosts, Length: 470, dtype: int64

In [22]:
# favourite hosts
print(df['favourite_host'].value_counts())
print(df[df['count_lots']>10]['favourite_host'].value_counts())

1    110188
0     78934
Name: favourite_host, dtype: int64
0    34526
1     8411
Name: favourite_host, dtype: int64

In [47]:
df[(df['count_lots']==1)&(df['win_open']+df['win_not_open']==0)]['y'].value_counts()

0    10151
1      930
Name: y, dtype: int64